{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"arrowParens": "always",
	"endOfLine": "lf",
	"bracketSameLine": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"quoteProps": "as-needed"
}
