@mixin justifyPosition($jc) {
	display: flex;
	align-items: center;
	flex-direction: row;

	justify-content: $jc;
}

// 사용 중이실 것같아 밑에다 변수명 수정놓겠습니다. 밑에껄로 변경부탁드립니다.
@mixin EKBorder($bl, $br, $bc) {
	border: 1px solid $bl;
	border-radius: $br;
	background-color: $bc;
}

// 수정✨
@mixin BorderStyle($bl, $br, $bc) {
	border: 1px solid $bl;
	border-radius: $br;
	background-color: $bc;
}

@mixin EKCard($pt: 20px, $pl: 16px, $pb: 20px, $pr: 16px, $br, $bc) {
	padding-top: $pt;
	padding-left: $pl;
	padding-bottom: $pb;
	padding-right: $pr;

	border: none;

	border-radius: $br;
	background-color: $bc;
}

@mixin CardStyle($pt: 20px, $pl: 16px, $pb: 20px, $pr: 16px, $br, $bc) {
	padding-top: $pt;
	padding-left: $pl;
	padding-bottom: $pb;
	padding-right: $pr;

	border: none;

	border-radius: $br;
	background-color: $bc;
}

@mixin fontTheme($lh, $fw, $fs, $fc: $GRAY_04) {
	line-height: $lh;
	font-weight: $fw;
	font-size: $fs;
	color: $fc;
}

@mixin mobile {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin imageBorder($color) {
	@include justifyPosition(center);

	object-fit: cover;

	border-radius: 50%;
	border: 5px solid $color;
}
