@import '../styles/mixins';

.container {
	min-height: 100vh;
	position: relative;
	padding: 28px 20px 100px;
	margin: 0 -20px;
	background: url(/assets/images/footer-character.svg) -10px bottom no-repeat;
}

/* 1. 더불어민주당 */
.type1 {
	@include imageBorder(#0a2da6);
}

/* 2. 국민의힘 */
.type2 {
	@include imageBorder(#e60303);
}

/* 3. 개혁신당 */
.type3 {
	@include imageBorder(#ff8319);
}

/* 4. 녹색정의당 */
.type4 {
	@include imageBorder(#fabb26);
}

/* 5. 새로운미래 */
.type5 {
	@include imageBorder(#84d3d8);
}

/* 6. 조국신당 */
.type6 {
	@include imageBorder(#0a2da6);
}

/* 무소속 */
.type7 {
	@include imageBorder(#65666c);
}
