@import '../styles/mixins';

@include mobile() {
}

.container {
	min-height: 100vh;
	position: relative;
	padding: 28px 20px 100px;
	margin: 0 -20px;
	background: url(/assets/images/footer-character.svg) -10px bottom no-repeat;
}

/* 1. 더불어민주당 */
.type1 {
	@include imageBorder(#5b6ca3, #0a2da6);
}

/* 2. 국민의힘 */
.type2 {
	@include imageBorder(#db6060, #e60303);
}

/* 3. 개혁신당 */
.type3 {
	@include imageBorder(#fcaf6d, #ff8319);
}

/* 4. 녹색정의당 */
.type4 {
	@include imageBorder(#fcd271, #fabb26);
}

/* 5. 새로운미래 */
.type5 {
	@include imageBorder(#e5f6f6, #84d3d8);
}

/* 6. 조국신당 */
.type6 {
	@include imageBorder(#0a54a6, #0a2da6);
}

/* 무소속 */
.type7 {
	@include imageBorder(#ccccd5, #65666c);
}
