@import '../styles/mixins';

@include mobile() {
}

.container {
	min-height: 100vh;
	position: relative;
	padding: 28px 20px 100px;
	margin: 0 -20px;
	background: url(/assets/images/footer-character.svg) -10px bottom no-repeat;
}
